<div class="container body">
    <div class="main_container">
        <div class="left_col scroll-view">

            <!-- LOGO -->
            <div class="navbar nav_title">
                <a href="#" class="site_title">
                    <i class="fa-solid fa-mobile-screen-button me-2"></i>
                    <span>MobileHub</span>
                </a>
            </div>

            <div class="clearfix"></div>

            <!-- PROFILE -->
            <div class="profile clearfix">
                <div class="profile_pic">
                    <img id="sbAvatar"
                         src="https://i.pravatar.cc/80"
                         class="img-circle profile_img">
                </div>
                <div class="profile_info">
                    <span>Welcome,</span>
                    <h2 id="sbUsername">Loading...</h2>
                </div>
            </div>

            <br/>

            <!-- MENU -->
            <div id="sidebar-menu" class="main_menu_side">

                <div class="menu_section">
                    <h3>General</h3>

                    <div class="side-menu">

                        <div class="menu-item">
                            <a href="./dashboard.html" class="menu-link">
                                <i class="fa fa-home"></i>
                                <span>Home</span>
                            </a>
                        </div>

                        <div class="menu-item">
                            <a href="./user-list.html" class="menu-link">
                                <i class="fa fa-users"></i>
                                <span>User List</span>
                            </a>
                        </div>

                    </div>
                </div>

            </div>

        </div>
    </div>
</div>